.btn {

&:hover {
    cursor: pointer;
}

&.white {
     width: 160px;
     height: 50px;
     border-radius: 6px;
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     background: white;
     color: #ED4C5C;
     border: none;
}

&.red {
     margin: 2.4rem 0;
     width: 160px;
     height: 50px;
     border-radius: 6px;
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     background: #ED4C5C;
     border: 1.5px solid #ED4C5C;
     color: #FFFFFF;
}
}